.home {
  width: 100vw;
  height: calc(100% - 100px);
}


.commemorate-day {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.commemorate-day-time {
  font-family: Italiana, sans-serif;
  margin-top: 5px;
}

.home-user {
  width: 100vw;
}

.user-ava {
  display: flex;
  width: 100vw;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.manImg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
}

.womanImg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
}
